  <nav class="w3-teal navbar table_header">
    <div class="w3-container">
        <%= link_to 'Dj Sonu', root_path, class: 'navbar-brand' %>
        <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
        <ul class=" one-line">
          <li class="nav navbar-right">
            <div class="w3-dropdown-click pull-right">
              <strong><p onclick= "myFunction()" class="text_height" >Login  &nbsp SONU</p></strong>
              <div id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
              
              </div>
          </li>
        </ul>
    </div>
  </nav>
